.product {
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.product img {
    max-width: 400px;
    display: block;
    border-radius: 20px;
}
.product h3 {
    font-size: 32px;
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
p.product  {
    font-size: 33px;
    color: white;
    margin: 0 auto;
}

.product h3:hover {
    opacity: .6;
}